
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

body{
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
form {
    background: #767a79;
    padding: 20px;
    border-radius: 5px;
    width: 50%;
    
}


form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.container{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    
}

form input[type="submit"] {
    background: #333;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 3px;
   
    
}

form input[type="text"],
form input[type="email"],
form input[type="number"],
form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #876969;
    border-radius: 3px;
   
}




