<p>login works!</p>

<form (ngSubmit)="onLogin()">
    <div>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" [(ngModel)]="username" required>
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" [(ngModel)]="password" required>
    </div>
    <button type="submit">Login</button>
    <p>Don't have an account?</p>
    <button type="button" (click)="redirectToRegister()">Register</button>
</form>

<div *ngIf="loginSuccessful" class="login-success">
    <p>Login successful!</p>
</div>